
/*body{
	background-color: blue;
}*/

.navbar{
	height: 1.3em;
	overflow: hidden;
	max-width: 478px;
	padding: 0.5em;

}

.yourlogo{
	width: 7.4375em;
	/*background-color: #bada55;*/
	float: left;
	font-family: "Open Sans", sans-serif;
	color: #7C8187;

}

.links{
	width: 15.8125em;
	float: right;

}

.links-indi1{
	padding: 1em;
	font-family: "Open Sans", sans-serif;
	color: #767676;
}

.links-indi2{
	padding: 1em;
	font-family: "Open Sans", sans-serif;
}

.links-indi3{
	padding: 1em;
	font-family: "Open Sans", sans-serif;
	color: #767676;
}

.headlogo{
	max-width: 478px;
	background: url(../Images/BlurryTree.jpg) 0 0 no-repeat;
	height: 160px;
	padding-top: 2.7em;
	padding-right: 2em;
}

.h-pricing{
	text-align: center;
	/*vertical-align: center;*/
	margin-bottom: 0;
	color: white;
	font-family: "Open Sans", sans-serif;
	text-shadow: 0.5px 0.5px black;
	font-weight: normal;
	padding-right: 1em;
}

.h-try{
	text-align: center;
	margin-top: 0;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	padding-right: 1em;
	text-shadow: 0.5px 0.5px black;
}

.first-section{
	margin-top: 3em;
	margin-bottom: 2em;
	margin-right: 1em;
	margin-left: 2.2em;
	border: 1px solid grey;
	max-width: 23em;
}

.first-section-top{
	background-color: #519251;
	height: 11.2em;
	width: 23em;
	padding-top: 2.1em;
}

.top-div-1{
	font-family: "Open Sans", sans-serif;
	color: white;
	text-align: center;
}

.top-div-2{
	font-family: "Open Sans", sans-serif;
	color: white;
	text-align: center;
	font-size: 6em;
	font-weight: normal;
}

.top-div-3{
	font-family: "Open Sans", sans-serif;
	color: #A7C8A7;
	text-align: center;
	font-size: 1.2em;
}

.first-section-mid{
	height: 17.15em;
	background-color: #F7F7F7;
	width: 23em;
	margin-bottom: 0;
}

.first-section-mid > li{
	font-family: "Open Sans", sans-serif;
	border: 1px solid grey;
	text-align: center;
	color: #526066;
	padding: 0.8em;
}

.first-section-bottom{
	/*border: 1px solid grey;*/
	height: 3em;
	max-width: 22.85em;
	padding-top: 1em; 
	padding-bottom: 1em; 
	padding-left: 2em;
}

.choose-button{
	height: 2em;
	width: 8em;
	border: 1px solid grey;
	border-radius: 0 50% 0 50%;
}




